html {
  font-size: 2.0vw;
  font-family: sans-serif;
}

@media all and (min-width:1000px) {
  html {
    font-size: 20px;
  }
}

@media all and (max-width:520px) {
  html{
    font-size: 14px;
  }
}

html {
  background-color: #fefefe;
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1.45;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  word-break: break-word;
}

body > footer,
body > header,
body > main,
body > nav {
  margin: 0 auto;
  max-width: 34rem;
}

h1, h2 {
  border-bottom: 1px solid #ddd;
}

h2 {
  margin-top: 2rem;
}

h3 {
  margin-top: 2rem;
}

:target {
  /*background-color: rgb(245, 255, 150);*/
  position: relative;
}

:target:before {
  content: '→';
  left: -2rem;
  position: absolute;
}

body > footer {
  border-top: 1px solid black;
  font-size: 85%;
  margin-bottom: 2rem;
  margin-top: 4rem;
  text-align: right;
}

/* Global Header */

body > header {
  margin-top: 3rem;
  text-align: center;
}

body > header h1 {
  border: none;
}

#logo {
  max-width: 10rem;
}

/* Global Navigation */

body > nav {
  text-align: center;
  margin-bottom: 2rem;
}

body > nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body > nav ul li {
  display: inline;
  padding: 0;
}

.indies,
.services {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  margin: 0;
  padding: 0;
}

.indies li,
.services li {
  /*border: 1px solid black;*/
  height: 8rem;
  padding: 1rem;
  position: relative;
  text-align: center;
  vertical-align: center;
  width: 8rem;
}

.indies img,
.services img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.indies .name,
.services .name {
  left: 0;
  position: absolute;
  top: 40%;
  width: 100%;
  z-index: 10;
}

.logo {
  height: 10rem;
  width: 10rem;
}
