<!doctype html>
<html lang="EN">
  <head>
    <meta charset="UTF-8">

    <title>{% if page.title %}{{ site.title }} / {{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <!-- Social Media Metadata -->
    <meta name="twitter:card" content="summary">
    {% if page.description %}
    <meta name="twitter:description" content="{{page.description}}">
    {% else %}
    <meta name="twitter:description" content="{{site.description}}">
    {% endif %}
    <meta name="twitter:image" content="{{site.social_media_image}}">
    <meta name="twitter:site" content="@indieopensource">
    {% if page.title %}
    <meta name="twitter:title" content="{{page.title}}">
    {% else %}
    <meta name="twitter:title" content="{{site.title}}">
    {% endif %}

    {% if page.description %}
    <meta property="og:description" content="{{page.description}}">
    {% else %}
    <meta property="og:description" content="{{site.description}}">
    {% endif %}
    <meta property="og:image" content="{{site.social_media_image}}">
    <meta property="og:site_name" content="{{site.title}}">
    {% if page.title %}
    <meta property="og:title" content="{{page.title}}">
    {% else %}
    <meta property="og:title" content="{{site.title}}">
    {% endif %}
    <meta property="og:url" content="{{site.url}}">

    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/styles.css">
  </head>

  <body>
    <header>
      <a href="/"><img alt="logo" id="logo" src="/logo.svg"></a>
      <h1>Indie Open Source</h1>
    </header>

    <nav role="navigation">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/for-indies">For Indies</a></li>
        <li><a href="/for-users">For Users</a></li>
        <li><a href="/for-contributors">For Contributors</a></li>
      </ul>
    </nav>
