<!doctype html>
<html lang=en>
  <head>
    <meta charset=UTF-8>

    <title>{{ site.name }} {{ page.title }}</title>

    <!-- Social Media Metadata -->
    <meta name=twitter:card content=summary>
    <meta name=twitter:description content="open source for solo hackers and small firms">
    <meta name=twitter:image content=https://indieopensource.com/twitter-logo.png>
    <meta name=twitter:site content=@indieopensource>
    <meta name=twitter:title content="Indie Open Source">

    <meta property=og:description content="open source for solo hackers and small firms">
    <meta property=og:image content=https://indieopensource.com/facebook-logo.png>
    <meta property=og:site_name content="Indie Open Source">
    <meta property=og:title content="Indie Open Source">
    <meta property=og:type content=website>
    <meta property=og:url content=https://indieopensource.com/>

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{site.name}}">
    <meta name="twitter:description" content="{{site.description}}">
    <meta name="twitter:image" content="https://writing.kemitchell.com/placeholder-on-white.png">
    <meta name="twitter:creator" content="@kemitchell">
    <!-- OpenGraph -->
    <meta name="og:type" content="website">
    <meta name="og:title" content="{{site.title}}">
    <meta name="og:description" content="{{site.description}}">
    <meta name="og:image" content="https://writing.kemitchell.com/placeholder-on-white.png">

    <link rel=stylesheet href=/normalize.css>
    <link rel=stylesheet href=/styles.css>
  </head>

  <body>
    <nav role=navigation>
      <ul>
        <li><a href=/>Home</a></li>
        <li><a href=/users>For Users</a></li>
        <li><a href=/indies>For Indies</a></li>
        <li><a href=/contributors>For Contributors</a></li>
      </ul>
    </nav>

    <header>
      <h1>Indie Open Source</h1>
    </header>
