<!doctype html>
<html lang="EN">
  <head>
    <meta charset="UTF-8">

    <title>{{ site.title }} / {{ page.title }}</title>

    <!-- Social Media Metadata -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:description" content="{{page.description}}">
    <meta name="twitter:image" content"{{site.social_media_image}}">
    <meta name="twitter:site" content=@indieopensource>
    <meta name="twitter:title" content="{{page.title}}">

    <meta property="og:description" content="{{page.description}}">
    <meta property="og:image" content"{{site.social_media_image}}">
    <meta property="og:site_name" content="{{site.title}}">
    <meta property="og:title" content="{{page.title}}">
    <meta property="og:url" content="{{site.url}}">

    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/styles.css">
  </head>

  <body>
    <header>
      <img alt="logo" id="logo" src="/logo.svg">
      <h1>Indie Open Source</h1>
    </header>

    <nav role="navigation">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/for-users">For Users</a></li>
        <li><a href="/for-indies">For Indies</a></li>
        <li><a href="/for-contributors">For Contributors</a></li>
      </ul>
    </nav>
